body {
	/*font-family: 'Comic Sans MS', cursive;*/
	font-family: Calibri;
  	background-color: #F2F2F3FF;
  	color: #151515FF;
  	margin: 0;
  	padding: 0;
  	height: 100%;
  	width: 100%;}
div {background-color: white;}
footer.footer {
	position: bottom;
	width: 100%;
	color: #191919FF;
	font-size: 17px;
	background-color: #F2F2F3FF;
	bottom: 0px;
	text-align: right;}
a { 
	transition: 0.1s;
	color: #E48F13FF; 
	text-decoration: none;}
a:hover {
	transition: 0.1s;
	color: #83530BFF;
	text-decoration: underline;}
h1 {margin: 0px;}
ul.mainmenu {
	list-style: none;
	overflow: hidden;
	background-color: #E48F13FF;
	margin: 0px;
	padding: 15px 0px;
	font-size: 20px;}
ul.mainmenu li.namesite {float: left;}
ul.mainmenu li {
	float: left;
	margin: 0px 0px 0px 0px;}
ul.mainmenu li a {
	text-decoration: none;
	transition: 0.3s;
	color: white;
	padding: 20px 40px;}
ul.mainmenu li a:hover {
	transition: 0.3s;
	color: white;
	background-color: #F1AB42FF;}
ul.mainmenu li.username {float: right;}
div.content {
	margin: 0px 175px;
	padding: 20px 16px;}
div.form-back {
	padding: 15px;
	margin: 10%;
	margin-top: 0px;
	background-color: #F2F2F3FF;
	border: 1px solid #83530BFF;
	border-radius: 5px;}
.timestamp {
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size: 15px;
	color: #151515FF;}
p.flash-success {
	font-size: 19px;
	padding: 6px;
	margin-top: -15px;
	background-color: #AEFFC5;
	border: 1px solid green;
	border-radius: 2px;}
